
@use '../abstracts/_muk-tokens' as *

.muk-header
   background: $muk-bg-card
   &__logo
      margin-right: 20px
   &__wrapper
      display: flex
      align-items: center
      justify-content: start
      overflow: scroll
      nav ul
         display: flex
         align-items: center
         justify-content: start
         flex-direction: row
         gap: 20px