/* === MIXINS === */
@use '../abstracts/variables' as *

/* === fonts === */
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

@mixin font-style($color: $text, $padding-top: 0, $text-align: left)
   color: $color
   padding-top: $padding-top
   text-align: $text-align