/* === MIXINS === */
@use '../abstracts/tokens' as *

/* === MIXINS === */
@use '../abstracts/tokens' as *

/*  =============================== FONTS =============================== */
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

/* =============================== FORM ELEMENTS =============================== */
@mixin form-element($bg: $bg-soft)
   @include border()
   background: $bg
   padding: $space-content-md
   transition: $transition
   color: $text
   margin-top: 5px
   &:focus, &:focus-visible
      border-color: $primary-hover
      box-shadow: 0 0 0 4px rgba($primary, 0.15)
      outline: none
   &:disabled
      opacity: $opacity
      cursor: not-allowed
   &.is-error
      border-color: $danger
      &:focus, &:focus-visible
         border-color: $danger!important
         box-shadow: 0 0 0 4px rgba($danger, 0.15)

@mixin form-text($font-size: $body-text, $color: $text)
   font-size: $font-size
   color: $color


/* =============================== UI ELEMNTS & BLOKS =============================== */

//for blocks  [forms, cards. sections,...]
   
@mixin container($bg: $bg-card)
   @include border()
   width: 100%
   background: $bg
   transition: $transition
   padding: $space-container-lg 
   margin: $space-container-lg 0px
   @media (max-width: 1024px)
      padding: $space-container-md
      margin: $space-container-md 0px
   @media (max-width: 768px)
      padding: $space-container-sm
      margin: $space-container-sm 0px

//elements [input, buttons, icons, ...]
@mixin content($bg: $bg-card)
   width: 100%
   background: $bg
   transition: $transition
   padding: $space-content-lg
   margin: $space-content-lg 0px
   @media (max-width: 1024px)
      padding: $space-content-md
      margin: $space-content-md 0px
   @media (max-width: 768px)
      padding: $space-content-sm
      margin: $space-content-sm 0px

/* =============================== BORDER =============================== */
@mixin border( $border-width:$border-width,  $border-style: $border-style, $border-color: $bg, $border-radius: $border-radius)
   border: $border-width $border-style $border-color
   border-radius: $border-radius
   

