/* === SASS VARIABLES === */

/* === font sizes === */
$heading: 26px
$subheading: 19px
$body-text: 16px

/* === [tablet/desktop] === */
$heading-md: 24px
$subheading-md: 18px
$body-text-md: 15px

/* === [mobile] === */
$heading-sm: 20px
$subheading-sm: 16px
$body-text-sm: 14px