/*=== FONTS ===*/

@use '../abstracts/mixins' as *
@use '../abstracts/variables' as *
@use '../abstracts/colors' as *

/* === font sizes === */
.heading
   @include font-style($text, 10px, left)
   @include font-size($heading, 34px)
   font-weight: 600

.subheading
   @include font-style($text, 10px, left)
   @include font-size($subheading, 28px)
   font-weight: 500 

.body-text
   @include font-style($text, 10px, left)
   @include font-size($body-text, 24px)
   font-weight: 400

/* === [tablet/desktop] === */
@media (max-width: 1024px)
   .heading
     @include font-size($heading-md, 30px)
   .subheading
      @include font-size($subheading-md, 24px)
   .body-text
      @include font-size($body-text-md, 22px)


/* === [mobile] === */
@media (max-width: 767px)
   .heading
     @include font-size($heading-sm, 26px)
   .subheading
      @include font-size($subheading-sm, 22px)
   .body-text
      @include font-size($body-text-sm, 20px)